.Predict > input {
  font-size: 2rem;
  padding: 10px 30px;
  width: 90%;
}
.Predict > div {
  font-size: 2rem;
  color: grey;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin: 50px;
  padding: 10px 50px;
}

.Play {
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  outline: none;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  padding: 10px 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.Play:hover {
  background-color: #f5f5f5;
}
